<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1" name="viewport">

        <title>Login | {{env('APP_NAME', 'App')}}</title>

        <!-- Custom fonts for this template-->
        {# <link href="{{asset('css/font-awesome.min.css')}}" rel="stylesheet" type="text/css"> #}
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{asset('css/app.css?v=4')}}" rel="stylesheet">

    </head>

    <body class="bg-accent">

        <div
            class="container">

            <!-- Outer Row -->
            <div class="row justify-content-center">

                <div class="col-xl-5 col-lg-6 col-md-8">

                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <div class="p-5">

                                {% include 'includes/flash.html' %}

                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">login {{env('APP_NAME', 'App')}}</h1>
                                </div>
                                <form action="" method="post" class="user">
                                    <div class="form-group">
                                        <input class="form-control form-control-user" name="username" id="username" placeholder="Enter Username" type="text" required autofocus>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control form-control-user" name="password" id="password" placeholder="Password" type="password" required>
                                    </div>
                                    {# <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input class="custom-control-input" id="customCheck" type="checkbox">
                                            <label class="custom-control-label" for="customCheck">Remember Me</label>
                                        </div>
                                    </div> #}
                                    <div class="mt-5">
                                        <button type="submit" class="btn btn-primary btn-block font-weight-bold">
                                            Login
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="{{asset('js/jquery.min.js')}}"></script>
        <script src="{{asset('js/bootstrap.bundle.min.js')}}"></script>
    </body>

</html>
