<nav class="navbar navbar-expand-md navbar-light bg-white fixed-top" style="box-shadow: 0 .25rem .5rem rgba(0,0,0,.088) !important">
    <a href="/logger" class="navbar-brand">{{ env('APP_NAME', 'App') }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false" aria-label="Toggle navigation">
        {# <span class="navbar-toggler-icon"></span> #}
        <i class="fas fa-bars fa-sm"></i>
    </button>
    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="darkSwitch" />
        <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
    </div>
    <link rel="stylesheet" href="{{ asset('css/dark-mode.css') }}">
    <script src="{{ asset('js/dark-mode-switch.min.js') }}"></script>

    <div class="collapse navbar-collapse" id="navbar-main">
        <!-- Sidebar -->
        <ul class="navbar-nav ml-auto">

            {% if user().tenant_id == 0 %}
                <!-- Nav Item - Tenant -->
                <li class="nav-item {{ title is same as('Tenant') ? 'active' : '' }}">
                        <a class="nav-link" href="/tenant">
                            Tenant
                        </a>
                </li>
            {% endif %}

            <!-- Nav Item - Logger -->
            <!-- <li class="nav-item {{ title is same as('Logger') ? 'active' : '' }}">
                <a class="nav-link" href="/logger">
                    Logger
                </a>
            </li> -->
            <li class="nav-item dropdown {{ title in ['Install', 'Logger', 'Kesehatan Logger'] ? 'active' : '' }}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                    Logger
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item {{ title is same as('Install') ? 'active bg-accent' : '' }}" href="/install">Install</a>
                    <a class="dropdown-item {{ title is same as('Logger') ? 'active bg-accent' : '' }}" href="/logger">Semua</a>
                    <a class="dropdown-item {{ title is same as('Kesehatan Logger') ? 'active bg-accent' : '' }}" href="/logger/sehat">Sehat</a>
                </div>
            </li>

            <!-- Nav Item - Lokasi -->
            <li class="nav-item {{ title is same as('Lokasi') ? 'active' : '' }}">
                <a class="nav-link" href="/location">
                    Lokasi
                </a>
            </li>

            {% if user().tenant_id == 0 %}
                <!-- Nav Item - User -->
                <li class="nav-item {{ title is same as('Users') ? 'active' : '' }}">
                    <a class="nav-link" href="/user">
                        Users
                    </a>
                </li>
            {% endif %}

            {# <!-- Nav Item - Lokasi -->
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" href="#modal-setting">
                    Setting
                </a>
            </li> #}

            <!-- Nav Item - Logout -->
            <li class="nav-item">
                <form action="/logout" method="post" id="form-logout"></form>
                <a class="nav-link" href="#" onclick="$('#form-logout').submit()">
                    Logout
                </a>
            </li>

        </ul>
        <!-- End of Sidebar -->
    </div>
</nav>
