/* body {
    padding-top: 105px;
} */

[v-cloak] {
    display: none;
}

.fixed-top-2 {
    margin-top: 56px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}
.content-header > .breadcrumb {
    background-color: transparent;
    justify-content: flex-end;
}

.table > thead > tr > th {
    text-align: center;
}
.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td {
    vertical-align: middle;
}

.text-body { color: #343a40!important }
.text-muted { color: #6c757d!important }
.text-dark { color: #212529!important; }

.navbar-nav .nav-item {
    margin: 0 .5rem;
}

/* .bg-primary {
    background-color: #7300ED!important
} */

/* .text-primary {
    color: #7300ED!important
} */

/* datepicker */
.table thead th {
    text-align: center;
    vertical-align: middle;
    /* border-color: inherit; */
}
.datepicker {
    z-index: 10000 !important;
}


.bg-accent {
    background-color: #d83939!important;
}

.list-group-squared .list-group-item {
    border-radius: 0;
}
.list-group-borderless .list-group-item {
    border-width: 0;
}

.shadow-top-sm {
    box-shadow: 0 -.125rem .25rem rgba(0,0,0,.075) !important;
    /* box-shadow: 0 -5px 5px -5px #333; */
}

.dropdown-toggle.noicon::after {
    content: unset;
}


.leaflet-popup-content-wrapper {
    background-color: rgba(255,255,255,.5) !important;
}