{% extends 'layouts/master.html' %}

{% set title = mode ~ " Tenant" %}

{% block content %}

    <!-- Page Heading -->
    <div class="d-flex align-items-center justify-content-start mb-4">
        <h2 class="h3 mb-0">
            <a href="/tenant" class="" role="button">
                Tenant
            </a>
        </h2>
        <span class="mx-3">
            &rang;
        </span>
        {% if tenant.id %}
            <h2 class="h3 mb-0">
                <a href="/tenant/{{ tenant.id }}" class="" role="button">
                    {{ tenant.nama }}
                </a>
            </h2>
            <span class="mx-3">
                &rang;
            </span>
        {% endif %}
        <h2 class="h3 mb-0 text-gray-800">{{ mode }}</h2>
    </div>

    <div class="row">
        <div class="col-12 col-lg-9">
            <div class="card">
                <div class="card-body">

                    <form action="" method="post">
                        {% if mode == 'Edit' %}
                            <input type="hidden" name="id" value="{{ tenant.id }}">
                        {% endif %}

                        <input type="hidden" name="_referer" value="{{ referer }}">

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="nama">Nama <span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" name="nama" id="nama" class="form-control" required="required" value="{{ tenant.nama }}" placeholder="Nama tenant">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="slug">Slug <span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" name="slug" id="slug" class="form-control" required="required" value="{{ tenant.slug }}" placeholder="Slug tenant">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="slug">Telegram Info</label>
                            <div class="col-sm-9">
                                <input type="text" name="telegram_info_group" class="form-control" value="{{ tenant.telegram_info_group }}" placeholder="Telegram Info GROUP NAME">
                                <input type="number" name="telegram_info_id" class="form-control" value="{{ tenant.telegram_info_id }}" placeholder="Telegram Info GROUP ID">
                                <!-- <textarea class="form-control" name="telegram_info_id" placeholder="Telegram Info ID">{{ tenant.telegram_info_id }}</textarea> -->
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="slug">Telegram Alert</label>
                            <div class="col-sm-9">
                                <input type="text" name="telegram_alert_group" class="form-control" value="{{ tenant.telegram_alert_group }}" placeholder="Telegram Alert GROUP NAME">
                                <input type="number" name="telegram_alert_id" class="form-control" value="{{ tenant.telegram_alert_id }}" placeholder="Telegram Alert GROUP ID">
                                <!-- <textarea class="form-control" name="telegram_alert_id" placeholder="Telegram Alert ID">{{ tenant.telegram_alert_id }}</textarea> -->
                            </div>
                        </div>

                        <div class="text-right">
                            <a href="{{ referer }}" class="btn btn-outline-secondary mr-2" role="button">Batal</a>
                            <button class="btn btn-primary" type="submit">Simpan</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        $(function () {
            document.getElementById('nama').focus();
            $('#slug').bind('keyup blur', function () {
                var node = $(this);
                node.val(node.val().toLowerCase().replace(/[^a-z0-9-]/g, ''))
            })
        })
    </script>
{% endblock %}
