{% extends 'layouts/mobile/master.html' %}

{% set title = 'Logger' %}

{% block content %}

    <div class="p-3" id="app" v-cloak>
        <div class="row">
            <div v-for="logger in sortedLoggers" class="col-12 col-sm-6 col-lg-4 mb-3">
                <a class="btn-link text-decoration-none" :href="'/logger/' + logger.sn">
                    <div class="card card-sm h-100 shadow-sm" :class="getBorderType(logger)">
                        <div class="card-body">
                            <div class="d-flex align-items-center font-large mb-3">
                                <div class="flex-fill font-weight-normal" :class="getColorType(logger)">
                                    <span v-if="logger.location_nama">{[{ logger.location_nama }]}</span>
                                    <span v-else class="text-muted">(location not set)</span>
                                </div>
                                <div v-if="logger.content.sampling && !logger.fetching" class="text-muted ml-auto">
                                    {[{ moment.unix(logger.content.sampling).format('kk:mm') }]}
                                </div>
                                <div v-else-if="logger.fetching" class="text-muted ml-auto">
                                    <i class="fas fa-spin fa-sync"></i>
                                </div>
                            </div>

                            <div class="d-flex align-items-center font-small text-muted">
                                <div>
                                    {[{ logger.sn }]}
                                </div>
                                <div v-if="logger.content.up_since" class="ml-auto">
                                    On {[{ moment.unix(logger.content.sampling).fromNow() }]}
                                </div>
                            </div>

                            <div class="d-flex align-items-center font-small">
                                <div>
                                    <!-- <span v-if="logger.content.tick">
                                        {[{ logger.content.tick }]}
                                    </span>
                                    <span v-if="logger.content.distance">
                                        {[{ logger.content.distance }]}
                                    </span> -->
                                    <span v-if="logger.content.temperature">
                                        <i class="fas fa-thermometer-half"></i>
                                        {[{ logger.content.temperature.toFixed(0) }]}℃
                                    </span>
                                    <span v-if="logger.content.humidity">
                                        • {[{ logger.content.humidity.toFixed(0) }]}%
                                    </span>
                                </div>
                                <div class="ml-auto">
                                    <span v-if="logger.content.altitude">
                                        {[{ logger.content.altitude }]}mdpl
                                    </span>
                                    <span v-if="logger.content.signal_quality">
                                        <i class="fas fa-signal"></i>
                                        {[{ logger.content.signal_quality.toFixed(0) }]}
                                    </span>
                                    <span v-if="logger.content.battery">
                                        <i class="fas fa-battery-three-quarters"></i>
                                        {[{ logger.content.battery.toFixed(0) }]}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    {% if user().tenant_id == 0 %}
        <!-- <div class="py-3 d-none d-sm-block">&nbsp;</div> -->
        <div class="fixed-bottom text-left p-3 d-none d-sm-block">
            <a class="btn btn-primary" href="/logger/add">
                <i class="fas fa-plus"></i> Add Logger
            </a>
        </div>
    {% endif %}

{% endblock %}

{% block js %}
    <script>
        var _app = new Vue({
            el: '#app',
            data: function () {
                return {
                    moment,
                    loggers: {{ loggers | json_encode | raw }}
                }
            },
            beforeMount: function () {
                for (var index in this.loggers) {
                    this.fetchRaw(index);
                }
            },
            computed: {
                sortedLoggers: function () {
                    // sort done on backend
                    return this.loggers;
                }
            },
            methods: {
                fetchRaw: function (index) {
                    var logger = this.loggers[index];
                    logger.fetching = true;

                    // if (typeof localStorage['content_'+ logger.sn] != typeof undefined) {
                    //     logger.content = JSON.parse(localStorage['content_'+ logger.sn]);
                    // }

                    $.ajax({
                        url: '/api/logger/'+ logger.sn +'/raw',
                        data: {
                            limit: 1
                        }
                    })
                    .then(res => {
                        if (res.status === 200) {
                            if (res.data.loggers.length > 0) {
                                logger.content = res.data.loggers[0].content;
                                // localStorage['content_'+ logger.sn] = JSON.stringify(res.data.loggers[0].content);
                            }
                        }
                    })
                    .always(() => {
                        logger.fetching = false;
                    });
                },
                getBgSN: function (logger) {
                    if (typeof logger.content === typeof undefined || logger.content.length === 0) {
                        return 'bg-secondary';
                    }

                    if (typeof logger.content.tick !== typeof undefined) {
                        return 'bg-primary';
                    } else if (typeof logger.content.distance !== typeof undefined) {
                        return 'bg-danger';
                    }
                    return 'bg-secondary';
                },
                getColorType: function (logger) {
                    if (typeof logger.content === typeof undefined || logger.content.length === 0) {
                        return '';
                    }

                    if (typeof logger.content.tick !== typeof undefined) {
                        return 'font-weight-bold text-primary';
                    } else if (typeof logger.content.distance !== typeof undefined) {
                        return 'font-weight-bold text-danger';
                    }
                    return '';
                },
                getBorderType: function (logger) {
                    if (typeof logger.content === typeof undefined || logger.content.length === 0) {
                        return '';
                    }

                    if (typeof logger.content.tick !== typeof undefined) {
                        return 'border-arr';
                    } else if (typeof logger.content.distance !== typeof undefined) {
                        return 'border-awlr';
                    }
                    return '';
                }
            }
        });
    </script>
{% endblock %}
