{% extends 'layouts/mobile/master.html' %}

{% set title = 'Logger' %}

{% block content %}

    <div class="list-group list-group-flush" id="app" v-cloak>
        <a v-for="logger in sortedLoggers" :href="'/logger/' + logger.sn" class="list-group-item list-group-item-action rounded-0 px-3">
            <div class="d-flex align-items-center">
                <div class="logger-sn-circle text-center font-weight-bold mr-3 px-0 py-3" style="border-radius: 50%; width: 55px; height: 55px">
                    {[{ logger.sn.substr(2) }]}
                </div>

                <div v-if="logger.content" class="flex-fill">
                    <p class="font-weight-bold mb-0">
                        {[{ moment.unix(logger.content.sampling).format('D MMM YYYY, kk:mm') }]}
                    </p>
                    <div class="mb-0 d-flex">
                        <p class="mb-0">
                            <span v-if="typeof logger.content.tick !== typeof undefined">
                                <span class="badge badge-primary">ARR</span>
                                {[{ logger.content.tick }]}
                            </span>
                            <span v-if="typeof logger.content.distance !== typeof undefined">
                                <span class="badge badge-success">AWLR</span>
                                {[{ logger.content.distance }]}
                            </span>
                        </p>
                        <div class="ml-auto">
                            <span v-if="logger.content.signal_quality">
                                <i class="fas fa-signal"></i>
                                {[{ logger.content.signal_quality }]}
                            </span>
                            <span v-if="logger.content.battery">
                                <i class="fas fa-battery-full"></i>
                                {[{ logger.content.battery }]}
                            </span>
                        </div>
                    </div>
                </div>
                <div v-else class="text-muted">
                    <span v-if="logger.fetching">fetching data...</span>
                    <span v-else>( no data )</span>
                </div>
            </div>
        </a>
    </div>
    <!-- /.container-fluid -->

    {% if user().tenant_id == 0 %}
        <div class="py-3 d-none d-sm-block">&nbsp;</div>
        <div class="fixed-bottom text-right p-3 d-none d-sm-block">
            <a class="btn btn-primary" href="/logger/add">
                <i class="fas fa-plus"></i> Add Logger
            </a>
        </div>
    {% endif %}

{% endblock %}

{% block js %}
    <script>
        var _app = new Vue({
            el: '#app',
            data: function () {
                return {
                    moment,
                    loggers: {{ loggers | json_encode | raw }}
                }
            },
            beforeMount: function () {
                for (var index in this.loggers) {
                    this.fetchRaw(index);
                }
            },
            computed: {
                sortedLoggers: function () {
                    // magic sort
                    return this.loggers.slice().sort((a, b) => {
                        if (a.content !== '') {
                            if (b.content === '') {
                                return -1;
                            }

                            return a.content.sampling > b.content.sampling ? -1 :
                                (a.content.sampling < b.content.sampling ? 1 : 0);
                        }

                        return a.sn > b.sn ? 1 :
                            (a.sn < b.sn ? -1 : 0);
                    })
                }
            },
            methods: {
                fetchRaw: function (index) {
                    var logger = this.loggers[index];
                    logger.fetching = true;

                    $.ajax({
                        url: '/api/logger/'+ logger.sn +'/raw',
                        data: {
                            limit: 1
                        }
                    })
                    .then(res => {
                        if (res.status === 200) {
                            if (res.data.loggers.length > 0) {
                                logger.content = res.data.loggers[0].content;
                            }
                        }
                    })
                    .always(() => {
                        logger.fetching = false;
                    });
                }
            }
        });
    </script>
{% endblock %}
