{% extends 'layouts/mobile/master.html' %}

{% set title = 'Logger' %}

{% block content %}

    <div class="px-3 py-4" id="app">

        <!-- Page Heading -->
        <div class="d-flex align-items-center mb-3 mt-n2">
            <h1 class="h5 mb-0 mr-auto text-gray-800">Daftar Logger</h1>
            {% if (user().tenant_id == 0) %}
                <a href="/logger/add" class="btn btn-sm btn-primary" id="btn-create" autofocus>New</a>
            {% endif %}
        </div>

        <div class="mb-3">
            <div class="mb-3" v-cloak>
                <div class="form-group mb-1">
                    <input class="form-control" type="text" placeholder="filter" v-model="filters">
                </div>

                <span class="small" :class="sortedloggers.length == 0 ? 'text-danger' : ''">
                    <i class="fas fa-microchip mr-1"></i>
                    {[{ sortedloggers.length }]} Logger
                </span>
            </div>

            <div class="card rounded-0 mx-n3" v-cloak>
                <div class="card-header">
                    <div class="d-flex justify-content-around align-items-center">
                        <button class="btn btn-sm btn-link text-secondary text-decoration-none" type="button" @click="showFilterModal('tipe')">
                            Tipe
                        </button>

                        <button class="btn btn-sm btn-link text-secondary text-decoration-none" type="button" @click="showFilterModal('sort')">
                            Sort
                        </button>
                    </div>
                </div>
                <div class="list-group list-group-borderless" v-for="logger, index in sortedloggers">
                    <a :href="'/logger/'+ logger.sn" class="list-group-item list-group-item-action px-2 py-2 d-flex border-bottom">
                        <div class="flex-fill ml-2">
                            <small class="text-secondary">
                                [{[{ logger.sn }]}]
                            </small>
                            <h6 class="text-dark mt-1 mb-1" style="font-weight: 600">
                                {[{ logger.location_nama }]}
                            </h6>

                            <p class="small mb-0">
                                <span v-if="logger.tipe == 'arr'" class="badge text-primary border border-primary">PCH</span>
                                <span v-else-if="logger.tipe == 'awlr'" class="badge text-danger border border-danger">PDA</span>
                                <span v-else-if="logger.tipe == 'klimat'" class="badge text-warning border border-warning">KLIMAT</span>
                                <span v-else class="text-secondary">unknown</span>

                                <span class="ml-1">
                                    <span v-if="logger.tipe == 'awlr'" class="">
                                        <span v-if="logger.wlev">
                                            <i class="fas fa-water fa-sm text-muted mr-0"></i>
                                            {[{ logger.wlev }]}
                                        </span>
                                    </span>
                                    <span v-else class="">
                                        <span v-if="logger.rain">
                                            <i class="fas fa-tint fa-sm text-muted mr-0"></i>
                                            {[{ logger.rain }]}
                                        </span>
                                    </span>
                                </span>
                            </p>
                        </div>

                        <div class="ml-auto mr-2 small">
                            <div class="mt-1 mb-1">
                                <span v-if="!logger.persen_data_diterima_today || logger.persen_data_diterima_today <= 30" class="text-danger">
                                    {[{ logger.persen_data_diterima_today ? logger.persen_data_diterima_today : '0.0' }]}
                                </span>
                                <span v-else-if="logger.persen_data_diterima_today <= 60" class="text-warning">
                                    {[{ logger.persen_data_diterima_today }]}
                                </span>
                                <span v-else class="text-success">
                                    {[{ logger.persen_data_diterima_today }]}
                                </span>

                                /

                                <span v-if="!logger.persen_data_diterima_month || logger.persen_data_diterima_month <= 30" class="text-danger">
                                    {[{ logger.persen_data_diterima_month ? logger.persen_data_diterima_month : '0.0' }]}
                                </span>
                                <span v-else-if="logger.persen_data_diterima_month <= 60" class="text-warning">
                                    {[{ logger.persen_data_diterima_month }]}
                                </span>
                                <span v-else class="text-success">
                                    {[{ logger.persen_data_diterima_month }]}
                                </span>

                                /

                                <span v-if="!logger.persen_data_diterima_year || logger.persen_data_diterima_year <= 30" class="text-danger">
                                    {[{ logger.persen_data_diterima_year ? logger.persen_data_diterima_year : '0.0' }]}
                                </span>
                                <span v-else-if="logger.persen_data_diterima_year <= 60" class="text-warning">
                                    {[{ logger.persen_data_diterima_year }]}
                                </span>
                                <span v-else class="text-success">
                                    {[{ logger.persen_data_diterima_year }]}
                                </span>
                            </div>

                            <div class="font-weight-normal text-right">
                                {[{ logger.latest_sampling ? moment(logger.latest_sampling).format('D MMM, kk:mm') : '' }]}
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="filter-modal-title" aria-hidden="true">
                <div class="modal-dialog p-2" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-light">
                            <h6 class="mb-0" id="filter-modal-title" style="font-weight: 600">
                                Filter by
                                <span class="text-capitalize">{[{ filterModal.category }]}</span>
                            </h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="card-body py-0">
                            <div class="list-group list-group-flush">
                                <button v-for="item in filterModal.items" class="list-group-item list-group-item-action" @click="itemFilter(item.value)" v-html="item.name">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        // const groupBy = key => array =>
        //   array.reduce((objectsByKeyValue, obj) => {
        //     const value = obj[key];
        //     objectsByKeyValue[value] = (objectsByKeyValue[value] || []).concat(obj);
        //     return objectsByKeyValue;
        //   }, {});
        // const groupByTenantNama = groupBy('tenant_nama');

        var _app = new Vue({
            el: '#app',
            data: function () {
                return {
                    moment,
                    filters: "",
                    filterModal: {
                        category: '',
                        items: []
                    },
                    loggers: {{ loggers | json_encode | raw }},
                }
            },
            computed: {
                sortedloggers: function () {
                    // duplikat dulu biar nggak pengaruh ke data asli
                    var loggers = this.loggers.slice()

                    // get filter as array
                    var filters = this.filters.split(' ')
                    var filtersArr = {}
                    for (var filter of filters) {
                        var f = filter.split(':')
                        filtersArr[f[0]] = f[1] ? f[1] : ''
                    }

                    // filter wilayah
                    if (filtersArr.wilayah) {
                        loggers = loggers.filter(l => l.wilayah == filtersArr.wilayah)
                    }

                    // filter tipe
                    if (filtersArr.tipe) {
                        var tipe = ''
                        switch (filtersArr.tipe) {
                            case 'pch':
                                tipe = 'arr'
                                break;

                            case 'pda':
                                tipe = 'awlr'
                                break;

                            case 'klimat':
                                tipe = 'klimat'
                                break;
                        
                            default:
                                break;
                        }

                        if (tipe) {
                            loggers = loggers.filter(l => l.tipe == tipe)
                        }
                    }

                    // sort
                    if (filtersArr.sort) {
                        if (filtersArr.sort == 'data_terbaru' || filtersArr.sort == 'data_terlama') {
                            if (filtersArr.sort == 'data_terbaru') {
                                loggers = loggers.sort((a,b) => {
                                    if (a.latest_sampling == undefined) {
                                        return 1
                                    }
                                    if (b.latest_sampling == undefined) {
                                        return -1
                                    }

                                    return a.latest_sampling > b.latest_sampling ? -1 :
                                        (a.latest_sampling < b.latest_sampling ? 1 : 0)
                                })
                            } else {
                                loggers = loggers.sort((a,b) => {
                                    if (a.latest_sampling == undefined) {
                                        return 1
                                    }
                                    if (b.latest_sampling == undefined) {
                                        return -1
                                    }
                                    
                                    return a.latest_sampling > b.latest_sampling ? 1 :
                                        (a.latest_sampling < b.latest_sampling ? -1 : 0)
                                })
                            }
                        } else if (filtersArr.sort == 'jml_banyak' || filtersArr.sort == 'jml_sedikit') {
                            if (filtersArr.sort == 'jml_banyak') {
                                loggers = loggers.sort((a,b) => {
                                    a.total_data_diterima = parseInt(a.total_data_diterima)
                                    b.total_data_diterima = parseInt(b.total_data_diterima)

                                    if (isNaN(a.total_data_diterima)) { a.total_data_diterima = 0 }
                                    if (isNaN(b.total_data_diterima)) { b.total_data_diterima = 0 }
                                    
                                    return a.total_data_diterima > b.total_data_diterima ? -1 :
                                        (a.total_data_diterima < b.total_data_diterima ? 1 : 0)
                                })
                            } else {
                                loggers = loggers.sort((a,b) => {
                                    a.total_data_diterima = parseInt(a.total_data_diterima)
                                    b.total_data_diterima = parseInt(b.total_data_diterima)

                                    if (isNaN(a.total_data_diterima)) { a.total_data_diterima = 0 }
                                    if (isNaN(b.total_data_diterima)) { b.total_data_diterima = 0 }

                                    return a.total_data_diterima > b.total_data_diterima ? 1 :
                                        (a.total_data_diterima < b.total_data_diterima ? -1 : 0)
                                })
                            }
                        }
                    }

                    return loggers
                }
            },
            methods: {
                showFilterModal: function (category) {
                    let items = [];
                    switch (category) {
                        case 'wilayah':
                            items = [
                                {
                                    value: null,
                                    name: 'Semua'
                                },
                                {
                                    value: 'hulu',
                                    name: 'Hulu'
                                },
                                {
                                    value: 'tengah',
                                    name: 'Tengah'
                                },
                                {
                                    value: 'hilir',
                                    name: 'Hilir'
                                }
                            ];
                            break;

                        case 'tipe':
                            items = [
                                {
                                    value: null,
                                    name: 'Semua'
                                },
                                {
                                    value: 'pch',
                                    name: 'Pos Curah Hujan'
                                },
                                {
                                    value: 'pda',
                                    name: 'Pos Duga Air'
                                },
                                {
                                    value: 'klimat',
                                    name: 'Klimat'
                                }
                            ];
                            break;

                        case 'sort':
                            items = [
                                {
                                    value: 'data_terbaru',
                                    name: 'Usia data terbaru'
                                },
                                {
                                    value: 'data_terlama',
                                    name: 'Usia data terlama'
                                },
                                {
                                    value: 'jml_banyak',
                                    name: 'Jumlah data <i class="fas fa-sort-numeric-down-alt"></i>'
                                },
                                {
                                    value: 'jml_sedikit',
                                    name: 'Jumlah data <i class="fas fa-sort-numeric-down"></i>'
                                }
                            ];
                            break;
                    
                        default:
                            break;
                    }
                    this.filterModal.category = category;
                    this.filterModal.items = items;
                    $('#filter-modal').modal('show');
                },
                itemFilter: function (value) {
                    if (value === null) {
                        this.removeFilter(this.filterModal.category)
                    } else {
                        this.addFilter(this.filterModal.category, value)
                    }
                    $('#filter-modal').modal('hide');
                },
                addFilter: function (key, value) {
                    var filters = this.filters.split(' ')
                    var filtersArr = {}
                    for (var filter of filters) {
                        var f = filter.split(':')
                        filtersArr[f[0]] = f[1] ? f[1] : ''
                    }

                    filtersArr[key] = value
                    filters = []
                    for (var key in filtersArr) {
                        var value = filtersArr[key].toLowerCase()
                        if (value) {
                            filters.push(`${key}:${value}`)
                        } else {
                            filters.push(`${key}`)
                        }
                    }
                    this.filters = filters.join(' ')
                },
                removeFilter: function (key) {
                    var filters = this.filters.split(' ')
                    var filtersArr = {}
                    for (var filter of filters) {
                        var f = filter.split(':')
                        filtersArr[f[0]] = f[1] ? f[1] : ''
                    }

                    delete filtersArr[key]
                    filters = []
                    for (var key in filtersArr) {
                        var value = filtersArr[key].toLowerCase()
                        if (value) {
                            filters.push(`${key}:${value}`)
                        } else {
                            filters.push(`${key}`)
                        }
                    }
                    this.filters = filters.join(' ')
                }
            }
        });
    </script>
{% endblock %}
