{% extends 'layouts/mobile/master.html' %}

{% set title = logger.sn ~ ' | Logger' %}

{% block content %}

    <div id="app">
        <div class="d-flex justify-content-between align-items-center text-white" :class="getBgSN()">
            <button class="btn btn-link text-white" @click="back()">
                <i class="fas fa-fw fa-chevron-left"></i>
            </button>
            <div class="my-1 text-center">
                <p class="font-weight-bold text-center mb-0">{{ logger.sn }}</p>
                <p class="mb-0">{{ logger.location_nama }}</p>
            </div>
            <button class="btn btn-link text-white" @click="showModalConfig()">
                <i class="fas fa-fw fa-cog"></i>
            </button>
        </div>

        <div class="list-group list-group-flush" v-cloak>
            <div v-if="fetching" class="list-group-item list-group-item-action rounded-0 text-center text-muted">
                <i class="fas fa-sync fa-spin ml-auto"></i>
            </div>
            <a v-for="logger in loggers" class="list-group-item list-group-item-action rounded-0">
                <div class="row align-items-center">
                    <!-- <div class="col-2 pl-1 pr-0">
                        <div class="text-center bg-white text-dark font-weight-bold px-0 py-3 rounded">
                            {[{ logger.sn.substr(2) }]}
                        </div>
                    </div> -->
                    <div class="col-12">
                        <div class="mb-0 d-flex">
                            <p class="font-weight-bold mb-0">
                                {[{ moment.unix(logger.content.sampling).format('D MMM YYYY, kk:mm') }]}
                            </p>
                        </div>
                        <div class="mb-0 d-flex">
                            <p class="mb-0 mr-2">
                                <span v-if="typeof logger.content.tick !== typeof undefined">
                                    <!-- <span class="badge badge-primary">ARR</span> -->
                                    {[{ logger.content.tick }]}
                                </span>
                                <span v-if="typeof logger.content.distance !== typeof undefined">
                                    <!-- <span class="badge badge-success">AWLR</span> -->
                                    {[{ logger.content.distance }]}
                                </span>
                            </p>
                            <!-- <p v-if="typeof logger.content.temperature !== typeof undefined" class="mb-0 mr-2">
                                {[{ logger.content.temperature }]}℃
                            </p>
                            <p v-if="typeof logger.content.humidity !== typeof undefined" class="mb-0 mr-2">
                                {[{ logger.content.humidity }]}%
                            </p> -->
                            <div class="ml-auto">
                                <span v-if="logger.content.signal_quality">
                                    <i class="fas fa-signal"></i>
                                    {[{ logger.content.signal_quality }]}
                                </span>
                                <span v-if="logger.content.battery">
                                    <i class="fas fa-battery-full"></i>
                                    {[{ logger.content.battery }]}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <div v-if="loggers.length == 0 && !fetching" class="list-group-item list-group-item-action rounded-0 text-center text-muted">
                ( no data )
            </div>
        </div>

        <!-- <div class="py-1">&nbsp;</div> -->
        <!-- <div class="d-flex justify-content-between align-items-center fixed-bottom">
            <a class="btn btn-link text-white" href="/logger">
                <i class="fas fa-fw fa-chevron-left"></i>
            </a>
            <div class="my-1 text-center">
                <h1 class="h5 text-center mb-0">{{ logger.sn }}</h1>
                <p class="mb-0">{{ logger.location_nama }}</p>
            </div>
            <button class="btn btn-link text-white" @click="showModalConfig()">
                <i class="fas fa-fw fa-cog"></i>
            </button>
        </div> -->
    </div>

{% endblock %}

{% block js %}
    {% include 'logger/mobile/modal_config.html' %}
    
    <script>
        var _app = new Vue({
            el: '#app',
            data: function () {
                return {
                    moment,
                    fetching: false,
                    loggers: [],
                    logger: {{ logger | json_encode | raw }}
                }
            },
            beforeMount: function () {
                this.fetchRaw();
            },
            methods: {
                back: function () {
                    if (window.history.length > 0) {
                        window.history.back();
                    } else {
                        window.location = '/logger';
                    }
                },
                showModalConfig: function () {
                    modalConfig.showModal(this.logger);
                },
                fetchRaw: function () {
                    this.fetching = true;

                    if (typeof localStorage['raw_{{ logger.sn }}'] != typeof undefined) {
                        this.loggers = JSON.parse(localStorage['raw_{{ logger.sn }}']);
                    }

                    $.ajax({
                        url: '/api/logger/{{ logger.sn }}/raw'
                    })
                    .then(res => {
                        if (res.status === 200) {
                            this.loggers = res.data.loggers;
                            localStorage['raw_{{ logger.sn }}'] = JSON.stringify(res.data.loggers);
                        }
                    })
                    .always(() => {
                        this.fetching = false;
                    });
                },
                getBgSN: function () {
                    if (this.loggers.length === 0) {
                        return 'bg-secondary';
                    }

                    var logger = this.loggers[0];
                    if (typeof logger.content.tick !== typeof undefined) {
                        return 'bg-primary';
                    } else if (typeof logger.content.distance !== typeof undefined) {
                        return 'bg-success';
                    }
                    return 'bg-secondary';
                }
            }
        });
    </script>
{% endblock %}
