{% extends 'layouts/mobile/master.html' %}

{% set title = 'Install' %}

{% block content %}

    <div class="" id="app" v-cloak>
        <div class="">            
            <div class="card card-sm rounded-0">
                <div class="card-header">
                    <div class="input-group mb-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text">SN</span>
                        </div>
                        <input class="form-control" type="text" v-model="sn" :placeholder="loggers.length ? loggers[0].sn : '1905-2'" autofocus>
                        <div v-if="sn.length >= 2" class="input-group-append">
                            <button class="btn btn-secondary" @click="sn = ''">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div v-if="logger.sn" class="collapse" id="config-panel">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-sm-6 mb-3 mb-sm-0">
                                <div class="d-flex align-items-center">
                                    <p class="font-weight-bold mb-0">
                                        Konfigurasi
                                    </p>
                                    <button class="btn btn-sm ml-auto px-1 py-0" :class="editConfig ? 'btn-warning' : 'btn-primary'" @click="toggleConfig()">
                                        <i class="fas fa-fw" :class="editConfig ? 'fa-times' : 'fa-edit'"></i>
                                    </button>
                                </div>

                                <div class="d-flex align-items-center">
                                    <div>Lokasi</div>
                                    <div v-if="!editConfig" class="ml-auto">
                                        <span v-if="logger.location_nama">{[{ logger.location_nama }]}</span>
                                        <span v-else class="text-muted">(not set)</span>
                                    </div>
                                    <div v-else class="ml-auto">
                                        otw
                                    </div>
                                </div>

                                <div class="d-flex align-items-center">
                                    <div>Tipe</div>
                                    <div v-if="!editConfig" class="ml-auto">
                                        <span v-if="logger.tipe != null">{[{ logger.tipe }]}</span>
                                        <span v-else class="text-muted">(tipe not set)</span>
                                    </div>
                                    <div v-else class="ml-auto">
                                        <select class="form-control" name="tipe" v-model="logger.tipe" required>
                                            <option hidden value='null'>&gt;&gt; Pilih Tipe &lt;&lt;</option>
                                            <option value="arr">arr</option>
                                            <option value="awlr">awlr</option>
                                        </select>
                                    </div>
                                </div>

                                <div v-if="logger.tipe == 'arr'" class="d-flex align-items-center">
                                    <div>Tipping Factor</div>
                                    <div v-if="!editConfig" class="ml-auto">
                                        <span v-if="logger.tipp_fac != null">{[{ logger.tipp_fac }]}</span>
                                        <span v-else class="text-muted">(not set)</span>
                                    </div>
                                    <div v-else class="ml-auto">
                                        <input class="form-control" type="number" step="0.01" name="tipp_fac" v-model="logger.tipp_fac | 0" required>
                                    </div>
                                </div>
                                <div v-else-if="logger.tipe == 'awlr'" class="d-flex align-items-center">
                                    <div>Tinggi Sonar</div>
                                    <div v-if="!editConfig" class="ml-auto">
                                        <span v-if="logger.ting_son != null">{[{ logger.ting_son }]}</span>
                                        <span v-else class="text-muted">(not set)</span>
                                    </div>
                                    <div v-else class="ml-auto">
                                        <input class="form-control" type="number" step="0.01" name="ting_son" v-model="logger.ting_son | 0" required>
                                    </div>
                                </div>

                                <div v-if="editConfig" class="text-right mt-2">
                                    <button class="btn btn-sm btn-primary" @click="saveConfig()">Simpan</button>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="d-flex align-items-center">
                                    <p class="font-weight-bold mb-0">
                                        Koreksi
                                    </p>
                                    <button class="btn btn-sm ml-auto px-1 py-0" :class="editCorrection ? 'btn-warning' : 'btn-primary'" @click="toggleCorrection()">
                                        <i class="fas fa-fw" :class="editCorrection ? 'fa-times' : 'fa-edit'"></i>
                                    </button>
                                </div>

                                <div class="d-flex align-items-center">
                                    <div>Temperature</div>
                                    <div v-if="!editCorrection" class="ml-auto">
                                        <span v-if="logger.temp_cor != null">{[{ logger.temp_cor }]}</span>
                                        <span v-else class="text-muted">(not set)</span>
                                    </div>
                                    <div v-else class="ml-auto">
                                        <input class="form-control" type="number" step="0.01" name="temp_cor" v-model="logger.temp_cor | 0" required>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center">
                                    <div>Humidity</div>
                                    <div v-if="!editCorrection" class="ml-auto">
                                        <span v-if="logger.humi_cor != null">{[{ logger.humi_cor }]}</span>
                                        <span v-else class="text-muted">(not set)</span>
                                    </div>
                                    <div v-else class="ml-auto">
                                        <input class="form-control" type="number" step="0.01" name="humi_cor" v-model="logger.humi_cor | 0" required>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center">
                                    <div>Battery</div>
                                    <div v-if="!editCorrection" class="ml-auto">
                                        <span v-if="logger.batt_cor != null">{[{ logger.batt_cor }]}</span>
                                        <span v-else class="text-muted">(not set)</span>
                                    </div>
                                    <div v-else class="ml-auto">
                                        <input class="form-control" type="number" step="0.01" name="batt_cor" v-model="logger.batt_cor | 0" required>
                                    </div>
                                </div>

                                <div v-if="editCorrection" class="text-right mt-2">
                                    <button class="btn btn-sm btn-primary" @click="saveCorrection()">Simpan</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer py-1">
                    <div class="text-center text-muted font-small">
                        <span v-if="sn.length < 6">Masukkan SN Logger</span>
                        <span v-else-if="!logger.sn">Logger {[{ sn }]} tidak ditemukan</span>
                        <a v-else class="text-muted text-decoration-none font-weight-bold" data-toggle="collapse" href="#config-panel">
                            <span v-if="logger.location_nama" :class="getColorType(logger)">
                                <i class="fas fa-map-marker-alt"></i>
                                {[{ logger.location_nama }]}
                            </span>
                            <span v-else>(location not set)</span>
                            | show config
                            <i class="fas fa-caret-down"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div v-if="logger.sn" class="p-3">

            <div v-if="raws.length" class="row">
                <div v-for="raw in raws" class="col-12 col-sm-6 col-lg-4 mb-3">
                    <div class="card card-sm h-100 shadow-sm" :class="getBorderType(logger)">
                        <div class="card-body">
                            <div class="d-flex align-items-center font-large mb-3" :class="getColorType(logger)">
                                <div class="flex-fill">
                                    <span v-if="typeof raw.tick !== typeof undefined">
                                        {[{ raw.tick }]}
                                    </span>
                                    <span v-if="typeof raw.distance !== typeof undefined">
                                        {[{ raw.distance }]}
                                    </span>
                                </div>

                                <div v-if="raw.sampling" class="text-muted ml-auto">
                                    {[{ moment.unix(raw.sampling).format('kk:mm') }]}
                                </div>
                            </div>

                            <div class="d-flex align-items-center font-small text-muted">
                                <!-- <div>
                                    {[{ logger.sn }]}
                                </div> -->
                                <div v-if="raw.up_since" class="ml-auto">
                                    On {[{ moment.unix(raw.up_since).fromNow() }]}
                                </div>
                            </div>

                            <div class="d-flex align-items-center font-small">
                                <div>
                                    <!-- <span v-if="raw.tick">
                                        {[{ raw.tick }]}
                                    </span>
                                    <span v-if="raw.distance">
                                        {[{ raw.distance }]}
                                    </span> -->
                                    <span v-if="raw.temperature">
                                        <i class="fas fa-thermometer-half"></i>
                                        {[{ raw.temperature }]}℃
                                    </span>
                                    <span v-if="raw.humidity">
                                        • {[{ raw.humidity }]}%
                                    </span>
                                </div>
                                <div class="ml-auto">
                                    <span v-if="raw.altitude">
                                        {[{ raw.altitude }]}mdpl
                                    </span>
                                    <span v-if="raw.signal_quality">
                                        <i class="fas fa-signal"></i>
                                        {[{ raw.signal_quality }]}
                                    </span>
                                    <span v-if="raw.battery">
                                        <i class="fas fa-battery-three-quarters"></i>
                                        {[{ raw.battery }]}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div v-else>
                no records
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    {% include 'main/mobile/modal_config.html' %}
    {% include 'main/mobile/modal_correction.html' %}

    <script>
        var _app = new Vue({
            el: '#app',
            data: function () {
                return {
                    moment,
                    sn: '1905-2',
                    loggers: {{ loggers | json_encode | raw }},
                    records: {},

                    editConfig: false,
                    editCorrection: false
                }
            },
            beforeMount: function () {
                // this.ws = new WebSocket("ws://mqtt.bbws-bsolo.net:22286");
                // this.ws.onopen = this.wsOnOpen;
                // this.ws.onmessage = this.wsOnMessage;
                // this.ws.onclose = this.wsOnClose;
            },
            computed: {
                logger: function () {
                    // sort done on backend
                    // var loggers = this.loggers.filter(logger => logger.sn.toLowerCase().indexOf(this.sn.toLowerCase()) >= 0);
                    var loggers = this.loggers.filter(logger => logger.sn.toLowerCase() === this.sn.toLowerCase());
                    return loggers.length > 0 ? loggers[0] : {};
                },
                raws: function () {
                    var raws = this.records[this.sn];
                    if (typeof raws === typeof undefined) {
                        return [];
                    }

                    return raws.slice().sort((a, b) => {
                        return a.sampling > b.sampling ? -1 :
                            (a.sampling < b.sampling ? 1 : 0)
                    });
                }
            },
            methods: {
                wsOnOpen: function (s) {
                    console.log("connected")
                },
                wsOnMessage: function (e) {
                    var t = JSON.parse(e.data);
                    if (t.device){
                        var sn = t.device.split('/')[1].toLowerCase();
                        var logger = this.loggers.filter(logger => logger.sn.toLowerCase() === sn);
                        if (!logger || logger.length === 0) {
                            return;
                        }

                        if (typeof this.records[sn] === typeof undefined) {
                            this.$set(this.records, sn, []);
                        }

                        this.records[sn].push(t);
                    }
                },
                wsOnClose: function (s) {
                    console.log(s);
                },
                getColorType: function (logger) {
                    return logger.tipe == 'arr' ? 'font-weight-bold text-primary' :
                        (logger.tipe == 'awlr' ? 'font-weight-bold text-danger' : '');
                },
                getBorderType: function (logger) {
                    return logger.tipe == 'arr' ? 'border-arr' :
                        (logger.tipe == 'awlr' ? 'border-awlr' : '');
                },
                toggleConfig: function () {
                    this.editConfig = !this.editConfig;
                },
                toggleCorrection: function () {
                    this.editCorrection = !this.editCorrection;
                },
                saveConfig: function () {

                },
                saveCorrection: function () {
                    
                }
            },
            destroy: function () {
                this.ws.close();
            }
        });
    </script>
{% endblock %}
