{% extends 'layouts/mobile/master.html' %}

{% set title = 'Logger' %}

{% block content %}

    <div class="list-group list-group-flush">
        <div class="list-group-item rounded-0 px-3">
            <div class="d-flex align-items-center">
                <span class="">Font size</span>
                <div class="ml-auto">
                    <button class="btn btn-secondary font-size-min mr-2" style="border-radius: 50%">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button class="btn btn-secondary font-size-plus" style="border-radius: 50%">
                        <i class="fas fa-plus"></i>                        
                    </button>
                </div>
            </div>
        </div>
        <div class="list-group-item rounded-0 px-3">
            <div class="d-flex align-items-center">
                <span>Theme</span>
                <button class="btn btn-sm bg-secondary border border-dark ml-auto px-3 theme-change">&nbsp;</button>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->

{% endblock %}
