{% extends 'layouts/master.html' %}

{% set title = 'Logger' %}

{% block content %}

    <!-- Page Heading -->
    <div class="d-flex align-items-center mb-4">
        <h1 class="h3 mb-0 mr-auto text-gray-800">
            <i class="fas fa-microchip fa-sm mr-1"></i>
            Daftar Logger
        </h1>
        {% if (user().tenant_id == 0) %}
            <a href="/logger/add" class="btn btn-primary ml-3" id="btn-create">Tambah Logger</a>
        {% endif %}
    </div>

    <div class="table-responsive" id="app">
        <table class="table table-hover table-bordered mb-0" id="myTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>SN</th>
                    <th>Tipe</th>
                    <th>Lokasi</th>
                    {% if user()['tenant_id'] == 0 %}
                        <th>Pemilik</th>
                    {% endif %}
                    {# <th>Latest Sampling</th>
                    <th>Latest SQ</th>
                    <th>Latest BATT</th>
                    <th>Banyak Data</th> #}
                </tr>
            </thead>
            <tbody>
                {% for logger in loggers %}
                    <tr>
                        <td class="text-right">{{ loop.index }}</td>
                        <td>
                            <a href="/logger/{{ logger.sn }}">
                                {{ logger.sn }}
                            </a>
                        </td>
                        <td class="text-center">
                            {% if logger.tipe == 'arr' %}
                                <span class="badge badge-primary">PCH</span>
                            {% elseif logger.tipe == 'awlr' %}
                                <span class="badge badge-danger">PDA</span>
                            {% elseif logger.tipe == 'klimat' %}
                                <span class="badge badge-warning">KLIMAT</span>
                            {% else %}
                                <span class="badge text-secondary">unknown</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="/location/{{ logger.location_id }}">
                                {{ logger.location_nama }}
                            </a>
                        </td>
                        {% if user()['tenant_id'] == 0 %}
                            <td>
                                <a href="/tenant/{{ logger.tenant_id }}">
                                    {{ logger.tenant_nama }}
                                </a>
                            </td>
                        {% endif %}
                        {# <td class="text-center" data-order="{{ logger.latest_sampling ? logger.latest_sampling : '-' }}">
                            {{ logger.latest_sampling ? tanggal_format(logger.latest_sampling, true, true) : '-' }}
                        </td>
                        <td class="text-center">{{ logger.sq }}</td>
                        <td class="text-center">{{ logger.batt }}</td>
                        <td class="text-right">
                            {% if not logger.persen_data_diterima or logger.persen_data_diterima <= 30 %}
                                <span class="text-danger">
                                    {{ logger.persen_data_diterima ? logger.persen_data_diterima : '0.0' }}%
                                </span>
                            {% elseif logger.persen_data_diterima <= 60 %}
                                <span class="text-warning">
                                    {{ logger.persen_data_diterima }}%
                                </span>
                            {% else %}
                                <span class="text-success">
                                    {{ logger.persen_data_diterima }}%
                                </span>
                            {% endif %}
                        </td> #}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.css"/>
    <style>
        th.fit, td.fit {
            width: 1%;
        }

        [v-cloak] {
            display: none;
        }
    </style>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.js"></script>
    <script>
        $(document).ready( function () {
            var t = $('#myTable').DataTable({
                "pageLength": 25
            });

            t.on( 'order.dt search.dt', function () {
                t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                    cell.innerHTML = i+1;
                } );
            } ).draw();
        } );
    </script>
{% endblock %}
