{% extends 'layouts/master.html' %}

{% set title = 'Logger' %}

{% block content %}

    <!-- Page Heading -->
    <div class="d-flex align-items-center mb-4">
        <h1 class="h3 mb-0 mr-auto text-gray-800">
            <i class="fas fa-microchip fa-sm mr-1"></i>
            Daftar Logger
        </h1>
        {% if (user().tenant_id == 0) %}
            <a href="/logger/add" class="btn btn-primary ml-3" id="btn-create">Tambah Logger</a>
        {% endif %}
    </div>

    <div class="table-responsive border rounded-lg" id="app">
        <table class="table table-hover mb-0">
            <thead>
                <tr class="small bg-white">
                    <th class="text-left" colspan="999">
                        <div class="d-flex align-items-center">
                            <input class="form-control mr-3" type="text" placeholder="filter" v-model="filters">

                            <div class="dropdown ml-3">
                                <button class="btn btn-sm btn-link text-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Tipe
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <button class="dropdown-item" @click="removeFilter('tipe')">Semua</button>
                                    <button class="dropdown-item" @click="addFilter('tipe', 'pch')">Pos Curah Hujan</button>
                                    <button class="dropdown-item" @click="addFilter('tipe', 'pda')">Pos Duga Air</button>
                                    <button class="dropdown-item" @click="addFilter('tipe', 'klimat')">Klimat</button>
                                </div>
                            </div>
                            
                            <div class="dropdown ml-3">
                                <button class="btn btn-sm btn-link text-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Sort
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <button class="dropdown-item" @click="addFilter('sort', 'data_terbaru')">Usia data terbaru</button>
                                    <button class="dropdown-item" @click="addFilter('sort', 'data_terlama')">Usia data terlama</button>
                                    <button class="dropdown-item" @click="addFilter('sort', 'jml_banyak')">Jumlah data <i class="fas fa-sort-numeric-down-alt"></i></button>
                                    <button class="dropdown-item" @click="addFilter('sort', 'jml_sedikit')">Jumlah data <i class="fas fa-sort-numeric-down"></i></button>
                                </div>
                            </div>
                        </div>
                    </th>
                </tr>
                <tr class="small">
                    <th class="text-left" colspan="3">
                        <span :class="sortedLoggers.length == 0 ? 'text-danger' : ''">
                            {# <i class="fas fa-check"></i> #}
                            {[{ sortedLoggers.length }]} Logger
                        </span>
                    </th>
                    <th>%Harian</th>
                    <th>%Bulanan</th>
                    <th>%Tahun</th>
                </tr>
            </thead>
            <tbody class="bg-white" v-cloak>
                <tr v-for="logger, index in sortedLoggers">
                    {# <td class="fit pr-0" style="vertical-align: top">
                    </td> #}
                    <td>
                        <a :href="'/logger/'+ logger.sn" class="text-dark font-weight-bold">
                            <h6 class="mb-1">
                                [{[{ logger.sn }]}]
                                <strong>{[{ logger.location_nama ? logger.location_nama : '-' }]}</strong>
                            </h6>
                        </a>
                        <p class="mb-0 font-weight-normal small text-muted">
                            Data terakhir {[{ logger.latest_sampling ? moment(logger.latest_sampling).format('D MMM YYYY, kk:mm') : '-' }]}
                        </p>
                        <div v-if="logger.temp ||
                                logger.humi ||
                                logger.mdpl ||
                                logger.sq ||
                                logger.batt"
                            class="mt-2 small text-secondary">

                            <span v-if="logger.temp" class="mr-1">
                                <i class="fas fa-thermometer-half"></i>
                                {[{ logger.temp }]}℃
                            </span>
                            <span v-if="logger.humi" class="mr-1">
                                • {[{ logger.humi }]}%
                            </span>
                            <span v-if="logger.mdpl" class="mr-1">
                                {[{ logger.mdpl }]}mdpl
                            </span>
                            <span v-if="logger.sq" class="mr-1">
                                <i class="fas fa-signal"></i>
                                {[{ logger.sq }]}
                            </span>
                            <span v-if="logger.batt" class="mr-1">
                                <i class="fas fa-battery-three-quarters"></i>
                                {[{ logger.batt }]}
                            </span>
                        </div>
                    </td>

                    <td class="fit text-center text-nowrap">
                        <span v-if="logger.tipe == 'awlr'" class="">
                            <span v-if="logger.wlev">
                                <i class="fas fa-water fa-sm text-muted mr-1"></i>
                                {[{ logger.wlev }]}
                            </span>
                        </span>
                        <span v-else class="">
                            <span v-if="logger.rain">
                                <i class="fas fa-tint fa-sm text-muted mr-1"></i>
                                {[{ logger.rain }]}
                            </span>
                        </span>
                    </td>
                    <td class="text-center">
                        <span v-if="logger.tipe == 'arr'" class="badge badge-primary">PCH</span>
                        <span v-else-if="logger.tipe == 'awlr'" class="badge badge-danger">PDA</span>
                        <span v-else-if="logger.tipe == 'klimat'" class="badge badge-warning">KLIMAT</span>
                        <span v-else class="badge text-secondary">uknown</span>
                    </td>

                    {# <td class="small">{[{ logger.tenant_nama }]}</td> #}

                    <td class="fit text-center">
                        <span v-if="!logger.persen_data_diterima_today || logger.persen_data_diterima_today <= 30" class="text-danger">
                            {[{ logger.persen_data_diterima_today ? logger.persen_data_diterima_today : '0.0' }]}%
                        </span>
                        <span v-else-if="logger.persen_data_diterima_today <= 60" class="text-warning">
                            {[{ logger.persen_data_diterima_today }]}%
                        </span>
                        <span v-else class="text-success">
                            {[{ logger.persen_data_diterima_today }]}%
                        </span>
                    </td>

                    <td class="fit text-center">
                        <span v-if="!logger.persen_data_diterima_month || logger.persen_data_diterima_month <= 30" class="text-danger">
                            {[{ logger.persen_data_diterima_month ? logger.persen_data_diterima_month : '0.0' }]}%
                        </span>
                        <span v-else-if="logger.persen_data_diterima_month <= 60" class="text-warning">
                            {[{ logger.persen_data_diterima_month }]}%
                        </span>
                        <span v-else class="text-success">
                            {[{ logger.persen_data_diterima_month }]}%
                        </span>
                    </td>

                    <td class="fit text-center">
                        <span v-if="!logger.persen_data_diterima_year || logger.persen_data_diterima_year <= 30" class="text-danger">
                            {[{ logger.persen_data_diterima_year ? logger.persen_data_diterima_year : '0.0' }]}%
                        </span>
                        <span v-else-if="logger.persen_data_diterima_year <= 60" class="text-warning">
                            {[{ logger.persen_data_diterima_year }]}%
                        </span>
                        <span v-else class="text-success">
                            {[{ logger.persen_data_diterima_year }]}%
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}

{% block css %}
    <style>
        th.fit, td.fit {
            width: 1%;
        }

        [v-cloak] {
            display: none;
        }
    </style>
{% endblock %}

{% block js %}
    <script>
        var _app = new Vue({
            el: '#app',
            data: function () {
                return {
                    moment,
                    filters: "",
                    loggers: {{ loggers | json_encode | raw }}
                }
            },
            computed: {
                sortedLoggers: function () {
                    // duplikat dulu biar nggak pengaruh ke data asli
                    var loggers = this.loggers.slice()

                    // get filter as array
                    var filters = this.filters.split(' ')
                    var filtersArr = {}
                    for (var filter of filters) {
                        var f = filter.split(':')
                        filtersArr[f[0]] = f[1] ? f[1] : ''
                    }

                    // filter wilayah
                    if (filtersArr.wilayah) {
                        loggers = loggers.filter(l => l.wilayah == filtersArr.wilayah)
                    }

                    // filter tipe
                    if (filtersArr.tipe) {
                        var tipe = ''
                        switch (filtersArr.tipe) {
                            case 'pch':
                                tipe = 'arr'
                                break;

                            case 'pda':
                                tipe = 'awlr'
                                break;

                            case 'klimat':
                                tipe = 'klimat'
                                break;
                        
                            default:
                                break;
                        }

                        if (tipe) {
                            loggers = loggers.filter(l => l.tipe == tipe)
                        }
                    }

                    // sort
                    if (filtersArr.sort) {
                        if (filtersArr.sort == 'data_terbaru' || filtersArr.sort == 'data_terlama') {
                            if (filtersArr.sort == 'data_terbaru') {
                                loggers = loggers.sort((a,b) => {
                                    if (a.latest_sampling == undefined) {
                                        return 1
                                    }
                                    if (b.latest_sampling == undefined) {
                                        return -1
                                    }

                                    return a.latest_sampling > b.latest_sampling ? -1 :
                                        (a.latest_sampling < b.latest_sampling ? 1 : 0)
                                })
                            } else {
                                loggers = loggers.sort((a,b) => {
                                    if (a.latest_sampling == undefined) {
                                        return 1
                                    }
                                    if (b.latest_sampling == undefined) {
                                        return -1
                                    }
                                    
                                    return a.latest_sampling > b.latest_sampling ? 1 :
                                        (a.latest_sampling < b.latest_sampling ? -1 : 0)
                                })
                            }
                        } else if (filtersArr.sort == 'jml_banyak' || filtersArr.sort == 'jml_sedikit') {
                            if (filtersArr.sort == 'jml_banyak') {
                                loggers = loggers.sort((a,b) => {
                                    a.total_data_diterima = parseInt(a.total_data_diterima)
                                    b.total_data_diterima = parseInt(b.total_data_diterima)

                                    if (isNaN(a.total_data_diterima)) { a.total_data_diterima = 0 }
                                    if (isNaN(b.total_data_diterima)) { b.total_data_diterima = 0 }
                                    
                                    return a.total_data_diterima > b.total_data_diterima ? -1 :
                                        (a.total_data_diterima < b.total_data_diterima ? 1 : 0)
                                })
                            } else {
                                loggers = loggers.sort((a,b) => {
                                    a.total_data_diterima = parseInt(a.total_data_diterima)
                                    b.total_data_diterima = parseInt(b.total_data_diterima)

                                    if (isNaN(a.total_data_diterima)) { a.total_data_diterima = 0 }
                                    if (isNaN(b.total_data_diterima)) { b.total_data_diterima = 0 }

                                    return a.total_data_diterima > b.total_data_diterima ? 1 :
                                        (a.total_data_diterima < b.total_data_diterima ? -1 : 0)
                                })
                            }
                        }
                    }

                    return loggers
                }
            },
            methods: {
                showModalConfig: function (index) {
                    var logger = this.sortedLoggers[index];
                    modalConfig.showModal(logger);
                },
                addFilter: function (key, value) {
                    var filters = this.filters.split(' ')
                    var filtersArr = {}
                    for (var filter of filters) {
                        var f = filter.split(':')
                        filtersArr[f[0]] = f[1] ? f[1] : ''
                    }

                    filtersArr[key] = value
                    filters = []
                    for (var key in filtersArr) {
                        var value = filtersArr[key].toLowerCase()
                        if (value) {
                            filters.push(`${key}:${value}`)
                        } else {
                            filters.push(`${key}`)
                        }
                    }
                    this.filters = filters.join(' ')
                },
                removeFilter: function (key) {
                    var filters = this.filters.split(' ')
                    var filtersArr = {}
                    for (var filter of filters) {
                        var f = filter.split(':')
                        filtersArr[f[0]] = f[1] ? f[1] : ''
                    }

                    delete filtersArr[key]
                    filters = []
                    for (var key in filtersArr) {
                        var value = filtersArr[key].toLowerCase()
                        if (value) {
                            filters.push(`${key}:${value}`)
                        } else {
                            filters.push(`${key}`)
                        }
                    }
                    this.filters = filters.join(' ')
                }
            }
        });
    </script>
{% endblock %}
