{% extends 'layouts/master.html' %}

{% set title = 'Logger' %}

{% block content %}

    <!-- Page Heading -->
    <div class="d-flex align-items-center mb-4">
        {# <button class="btn btn-sm btn-link px-1 py-0 mr-2" @click="back()" v-cloak>
            <i class="fas fa-fw fa-arrow-left"></i>
        </button> #}
        <h1 class="h3 mb-0 mr-auto text-gray-800">
            {% if logger.tipe == 'arr' %}
                <span class="badge badge-primary">PCH</span>
            {% elseif logger.tipe == 'awlr' %}
                <span class="badge badge-danger">PDA</span>
            {% elseif logger.tipe == 'klimat' %}
                <span class="badge badge-warning">KLIMAT</span>
            {% else %}
                <span class="badge text-secondary">unknown</span>
            {% endif %}
            {{ logger.sn }}
            {% if logger.location_nama %}
                <small class="text-secondary">{{ logger.location_nama }}</small>
            {% endif %}
        </h1>
        {% if (user().tenant_id == 0) %}
            {# <a href="/logger/{{ logger.sn }}/edit" class="btn btn-warning ml-3" id="btn-create">Edit Logger</a> #}
        {% endif %}
    </div>

    <div id="chart"></div>

    <br>

    <div class="table-responsive" id="app">
        <table class="table table-hover table-bordered bg-white mb-0" id="myTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Sampling</th>
                    <th>{{ logger.tipe == 'awlr' ? 'Distance' : 'Tick' }}</th>
                    <th>SQ</th>
                    <th>BATT</th>
                </tr>
            </thead>
            <tbody>
                {% for p in loggers %}
                    <tr>
                        <td class="text-right" data-orderable="false">{{ loop.index }}</td>
                        <td class="text-center" data-order="{{ p.sampling }}">{{ tanggal_format(p.sampling, true, true) }}</td>
                        <td class="text-center">{{ logger.tipe == 'awlr' ? p.distance : p.tick }}</td>
                        <td class="text-center">{{ p.sq }}</td>
                        <td class="text-center">{{ p.batt }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block css %}
    <style>
        th.fit, td.fit {
            width: 1%;
        }

        [v-cloak] {
            display: none;
        }
    </style>
{% endblock %}

{% block js %}
    {# datatable #}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable({
                "pageLength": 25
            });
        } );
    </script>

    {# plot #}
    <link rel="stylesheet" href="{{ asset('vendor/uplot/uPlot.min.css') }}">
    <script src="{{ asset('vendor/uplot/uPlot.iife.min.js') }}"></script>
    {% if logger.tipe == 'awlr' %}
        <script>
            let data = [
                {{ plot['timelines'] | json_encode(true) }},
                {{ plot['distance'] | json_encode(true) }},
                {{ plot['sq'] | json_encode(true) }},
                {{ plot['batt'] | json_encode(true) }},
            ];
        </script>
    {% else %}
        <script>
            let data = [
                {{ plot['timelines'] | json_encode(true) }},
                {{ plot['tick'] | json_encode(true) }},
                {{ plot['sq'] | json_encode(true) }},
                {{ plot['batt'] | json_encode(true) }},
            ];
        </script>
    {% endif %}
    <script>
        let opts = {
            // title: "My Chart",
            // id: "chart1",
            // class: "my-chart",
            width: document.getElementById('chart').offsetWidth,
            height: 600,
            series: [
                {},
                {
                    // initial toggled state (optional)
                    show: true,

                    spanGaps: false,

                    // in-legend display
                    label: {{ logger.tipe == 'awlr' ? "'DIST.'" : "'TICK'" }},
                    // value: (self, rawValue) => "$" + rawValue.toFixed(2),

                    // series style
                    stroke: "red",
                    width: 1,
                    // fill: "rgba(255, 0, 0, 0.3)",
                    // dash: [10, 5],
                },
                {
                    // initial toggled state (optional)
                    show: true,

                    spanGaps: false,

                    // in-legend display
                    label: "SQ",

                    // series style
                    stroke: "green",
                    width: 1,
                },
                {
                    // initial toggled state (optional)
                    show: true,

                    spanGaps: false,

                    // in-legend display
                    label: "BATT",

                    // series style
                    stroke: "blue",
                    width: 1,
                },
            ],
        };
        let uplot = new uPlot(opts, data, document.getElementById('chart'));
    </script>
{% endblock %}
