{% extends 'layouts/mobile/master.html' %}

{% set title = 'Tambah Baru | Lokasi' %}

{% block content %}

    <div id="app">
        <!-- <div class="d-flex justify-content-between  bg-secondary text-white">
            <button class="btn btn-link text-white" @click="back()">
                <i class="fas fa-fw fa-chevron-left"></i>
            </button>
            <div class="my-1 text-center">
                <p class="font-weight-bold text-center mb-0">{{ location.nama }}</p>
                <p class="mb-0">{{ location.tenant_nama }}</p>
            </div>
            <button class="btn btn-link text-white" @click="showModalConfig()">
                <i class="fas fa-fw fa-cog"></i>
            </button>
        </div> -->

        <form method="post" action="/location/add">
            <div>
                <div id="mapid" style="height: 240px;"></div>
            </div>

            <div class="list-group list-group-flush">
                <div class="list-group-item rounded-0 px-3">
                    <div class="row ">
                        <div class="col-3">Lokasi</div>
                        <div class="col-9">
                            <input class="form-control" name="nama" v-model="location.nama" required>
                        </div>
                    </div>
                </div>
                {% if user().tenant_id == 0 %}
                    <div class="list-group-item rounded-0 px-3">
                        <div class="row ">
                            <div class="col-3">Pemilik</div>
                            <div class="col-9">
                                <select class="form-control" name="tenant_id" v-model="location.tenant_id" @change="updateCenterMap()" required>
                                    <option hidden value="">&gt;&gt; Pilih Tenant &lt;&lt;</option>
                                    <option v-for="tenant in tenants" :value="tenant.id">{[{ tenant.nama }]}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <input type="hidden" name="tenant_id" v-model="location.tenant_id" readonly>
                {% endif %}
                <div class="list-group-item rounded-0 px-3">
                    <div class="row ">
                        <div class="col-3">LonLat</div>
                        <div class="col-9 text-ellipsis">
                            <div>
                                <div class="input-group">
                                    <input class="form-control" name="ll" v-model="location.ll">
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" type="button" @click="getCurrentPosition()"><i class="fas fa-map-pin"></i></button>
                                    </div>
                                </div>
                                <div class="small" style="line-height: 1">Klik pada MAP untuk mendapatkan nilai LonLat</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex p-3">
                <a class="btn btn-secondary mr-2" href="/location">
                    Kembali
                </a>

                <div class="ml-auto" v-cloak>
                    <button class="btn btn-primary" type="submit" key='btn-simpan'>
                        Tambahkan
                    </button>
                </div>
            </div>
        </form>

    </div>

{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
{% endblock %}

{% block js %}
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
    
    <script>

        var _app = new Vue({
            el: '#app',
            data: function () {
                return {
                    moment,
                    location: {
                        nama: '',
                        tenant_id: {{ user().tenant_id ?: "''" }},
                        ll: ''
                    },
                    tenants: {{ tenants | json_encode | raw }},
                    map: null,
                    tileLayer: null,
                    marker: null
                }
            },
            mounted() {
                this.initMap();
            },
            methods: {
                initMap: function () {
                    var ll = [-6.2088, 106.8456];
                    if (this.location.ll) {
                        ll = this.location.ll.split(',');
                    }

                    this.map = L.map('mapid').setView(ll, 13);
                    this.map.on('click', this.onMapClick);

                    this.tileLayer = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoid2lkb3lvIiwiYSI6ImNqcTNmNGh5NjFlMGk0Mm9iamJxdXIxaHUifQ.hxfPpTyy8g60K9baKtbvRw', {
                        maxZoom: 18,
                        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                        id: 'mapbox/streets-v11'
                    });
                    this.tileLayer.addTo(this.map);

                    if (this.location.ll) {
                        this.addMarker(ll);
                    }

                    this.updateCenterMap();
                },
                onMapClick: function (e) {
                    this.location.ll = e.latlng.lat + "," + e.latlng.lng;
                    this.addMarker(e.latlng);
                },
                addMarker: function (ll) {
                    if (this.marker) {
                        this.marker.remove();
                    }

                    this.marker = L.marker(ll);
                    this.marker.addTo(this.map);
                },
                getCurrentPosition: function () {
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(position => {
                            this.location.ll = position.coords.latitude + "," + position.coords.longitude;

                            var ll = {
                                lat: position.coords.latitude,
                                lng: position.coords.longitude
                            };
                            this.map.setView(ll, this.map.getZoom());
                            this.addMarker(ll);
                        })
                    } else {
                        toastr.error('Browser Anda tidak support Geolocation, gunakan map');
                    }
                },
                updateCenterMap: function () {
                    var tenant = this.tenants.filter(t => t.id == this.location.tenant_id);
                    console.log(tenant);
                    if (tenant.length) {
                        tenant = tenant[0];
                        if (tenant.center_map && tenant.center_map.indexOf(',') > 0) {
                            var ll = tenant.center_map.split(',');
                            var zoom = this.map.getZoom();

                            var z = ll.splice(2,1);
                            if (z.length) {
                                zoom = z[0];
                            }

                            this.map.setView(ll, zoom);
                        }
                    }
                }
            }
        });
    </script>
{% endblock %}
