{% extends 'layouts/mobile/master.html' %}

{% set title = 'Lokasi' %}

{% block content %}

    <div class="list-group list-group-flush" id="app" v-cloak>
        <div v-for="location, index in sortedlocations" class="list-group-item rounded-0 px-3">
            <div class="d-flex align-items-center">
                <a class="location-sn-circle bg-secondary text-white text-center mr-3 px-0 py-3"
                    style="border-radius: 50%; width: 55px; height: 55px"
                    :href="'/location/'+ location.id">
                    <i v-if="location.ll" class="fas fa-map-marker-alt"></i>
                    <i v-else class="fas fa-question"></i>
                </a>

                <a class="btn-link flex-fill" :href="'/location/' + location.id">
                    <p class="mb-0">
                        {[{ location.nama }]}
                    </p>
                    <!-- <p class="mb-0">
                        ll: {[{ location.ll }]}
                    </p> -->
                </a>

                <!-- <div class="ml-auto">
                    <button class="btn btn-link px-0" @click="showModalConfig(index)">
                        <i class="fas fa-cog"></i>
                    </button>
                </div> -->
            </div>
        </div>

        <div v-if="sortedlocations.length == 0" class="list-group-item rounded-0 text-center text-muted">
            ( no data )
        </div>

        <div class="py-3">&nbsp;</div>
        <div class="fixed-bottom text-right p-3">
            <a class="btn btn-lg btn-primary" href="/location/add" style="border-radius: 50%">
                <i class="fas fa-plus"></i>
            </a>
        </div>
    </div>
    <!-- /.container-fluid -->


{% endblock %}

{% block js %}
    {# include 'location/mobile/modal_config.html' #}
    
    <script>
        var _app = new Vue({
            el: '#app',
            data: function () {
                return {
                    locations: {{ locations | json_encode | raw }}
                }
            },
            computed: {
                sortedlocations: function () {
                    return this.locations
                }
            },
            methods: {
                showModalConfig: function (index) {
                    var location = this.sortedlocations[index];
                    modalConfig.showModal(location);
                },
                getLocationLink: function (location) {
                    if (!location.ll || location.ll.length === 0) {
                        return '#';
                    }

                    var ll = location.ll.split(',');
                    return 'https://www.google.com/maps/search/?api=1&query='+ ll[0] +','+ ll[1];
                }
            }
        });
    </script>
{% endblock %}
