{% extends 'layouts/mobile/master.html' %}

{% set title = 'Lokasi' %}

{% block content %}

	<div id="app" class="px-3 py-4">

        <!-- Page Heading -->
        <div class="d-flex align-items-center justify-content-between mb-3 mt-n2">
            <h1 class="h5 mb-0 text-gray-800">Daftar Lokasi</h1>
            <a href="/location/add" class="btn btn-sm btn-primary" id="btn-create">New</a>
        </div>
        
        <div class="mb-3">
            <div class="mb-3" v-cloak>
                <div class="form-group mb-1">
                    <input class="form-control" type="text" placeholder="filter" v-model="filters">
                </div>

                <span class="small" :class="sortedlocations.length == 0 ? 'text-danger' : ''">
                    <i class="fas fa-map-marker-alt mr-1"></i>
                    {[{ sortedlocations.length }]} Lokasi
                </span>
            </div>

            <div class="card rounded-0 mx-n3" v-cloak>
                <div class="card-header">
                    <div class="d-flex justify-content-around align-items-center">                                
                        <button class="btn btn-sm btn-link text-secondary text-decoration-none" type="button" @click="showFilterModal('wilayah')">
                            Wilayah
                        </button>

                        <button class="btn btn-sm btn-link text-secondary text-decoration-none" type="button" @click="showFilterModal('tipe')">
                            Tipe
                        </button>

                        <button class="btn btn-sm btn-link text-secondary text-decoration-none" type="button" @click="showFilterModal('sort')">
                            Sort
                        </button>
                    </div>
                </div>
                <div class="list-group list-group-borderless" v-for="location, index in sortedlocations">
                    <a :href="'/location/'+ location.id" class="list-group-item list-group-item-action px-2 py-2 d-flex border-bottom">
                        <span class="small mt-1 mr-1">
                            <i v-if="location.ll" class="fas fa-fw fa-map-marker-alt text-success"></i>
                            <i v-else class="fas fa-fw fa-question text-warning"></i>
                        </span>

                        <div class="flex-fill">
                            <h6 class="text-dark mt-1 mb-1" style="font-weight: 600">{[{ location.nama }]}</h6>

                            <p class="small mb-0">
                                <span v-if="location.tipe == 1" class="badge text-primary border border-primary">PCH</span>
                                <span v-else-if="location.tipe == 2" class="badge text-danger border border-danger">PDA</span>
                                <span v-else-if="location.tipe == 4" class="badge text-warning border border-warning">KLIMAT</span>
                                <span v-else class="text-secondary">no logger</span>

                                <span class="ml-1">
                                    <span v-if="location.tipe == 2" class="">
                                        <span v-if="location.wlev">
                                            <i class="fas fa-water fa-sm text-muted mr-0"></i>
                                            {[{ location.wlev }]}
                                        </span>
                                    </span>
                                    <span v-else class="">
                                        <span v-if="location.rain">
                                            <i class="fas fa-tint fa-sm text-muted mr-0"></i>
                                            {[{ location.rain }]}
                                        </span>
                                    </span>
                                </span>
                            </p>
                        </div>

                        <div class="ml-auto mr-2 small">
                            <div class="mt-1 mb-1">
                                <span v-if="!location.persen_data_diterima_today || location.persen_data_diterima_today <= 30" class="text-danger">
                                    {[{ location.persen_data_diterima_today ? location.persen_data_diterima_today : '0.0' }]}
                                </span>
                                <span v-else-if="location.persen_data_diterima_today <= 60" class="text-warning">
                                    {[{ location.persen_data_diterima_today }]}
                                </span>
                                <span v-else class="text-success">
                                    {[{ location.persen_data_diterima_today }]}
                                </span>

                                /

                                <span v-if="!location.persen_data_diterima_month || location.persen_data_diterima_month <= 30" class="text-danger">
                                    {[{ location.persen_data_diterima_month ? location.persen_data_diterima_month : '0.0' }]}
                                </span>
                                <span v-else-if="location.persen_data_diterima_month <= 60" class="text-warning">
                                    {[{ location.persen_data_diterima_month }]}
                                </span>
                                <span v-else class="text-success">
                                    {[{ location.persen_data_diterima_month }]}
                                </span>

                                /

                                <span v-if="!location.persen_data_diterima_year || location.persen_data_diterima_year <= 30" class="text-danger">
                                    {[{ location.persen_data_diterima_year ? location.persen_data_diterima_year : '0.0' }]}
                                </span>
                                <span v-else-if="location.persen_data_diterima_year <= 60" class="text-warning">
                                    {[{ location.persen_data_diterima_year }]}
                                </span>
                                <span v-else class="text-success">
                                    {[{ location.persen_data_diterima_year }]}
                                </span>
                            </div>

                            <div class="font-weight-normal text-right">
                                {[{ location.latest_sampling ? moment(location.latest_sampling).format('D MMM, kk:mm') : '' }]}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="table-responsive border mx-n3 w-auto" hidden>
                <table class="table table-hover mb-0">
                    <thead>
                        <tr class="small bg-white">
                            <th class="text-left" colspan="999">
                                
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        <tr>

                            {# <td class="fit text-center">
                                {[{ location.elevasi ? location.elevasi +'mdpl' : '' }]}
                            </td>
                            <td class="text-center">
                                <span v-if="location.tipe == 1" class="badge badge-primary">PCH</span>
                                <span v-else-if="location.tipe == 2" class="badge badge-danger">PDA</span>
                                <span v-else-if="location.tipe == 4" class="badge badge-warning">KLIMAT</span>
                                <span v-else class="badge text-secondary">no logger</span>
                            </td>

                            #}
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="filter-modal-title" aria-hidden="true">
                <div class="modal-dialog p-2" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-light">
                            <h6 class="mb-0" id="filter-modal-title" style="font-weight: 600">
                                Filter by
                                <span class="text-capitalize">{[{ filterModal.category }]}</span>
                            </h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="card-body py-0">
                            <div class="list-group list-group-flush">
                                <button v-for="item in filterModal.items" class="list-group-item list-group-item-action" @click="itemFilter(item.value)" v-html="item.name">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block css %}
    <style>
        th.fit, td.fit {
            width: 1%;
        }

        [v-cloak] {
            display: none;
        }
    </style>
{% endblock %}

{% block js %}
    {# include 'location/modal_config.html' #}
    
    <script>
        moment.locale('id');
        Vue.options.delimiters = ['{[{', '}]}'];
        
        var _app = new Vue({
            el: '#app',
            data: function () {
                return {
                    moment,
                    filters: "",
                    filterModal: {
                        category: '',
                        items: []
                    },
                    locations: {{ locations | json_encode | raw }},
                }
            },
            computed: {
                sortedlocations: function () {
                    // duplikat dulu biar nggak pengaruh ke data asli
                    var locations = this.locations.slice()

                    // get filter as array
                    var filters = this.filters.split(' ')
                    var filtersArr = {}
                    for (var filter of filters) {
                        var f = filter.split(':')
                        filtersArr[f[0]] = f[1] ? f[1] : ''
                    }

                    // filter wilayah
                    if (filtersArr.wilayah) {
                        locations = locations.filter(l => l.wilayah == filtersArr.wilayah)
                    }

                    // filter tipe
                    if (filtersArr.tipe) {
                        var tipe = ''
                        switch (filtersArr.tipe) {
                            case 'pch':
                                tipe = '1'
                                break;

                            case 'pda':
                                tipe = '2'
                                break;

                            case 'klimat':
                                tipe = '4'
                                break;
                        
                            default:
                                break;
                        }

                        if (tipe) {
                            locations = locations.filter(l => l.tipe == tipe)
                        }
                    }

                    // sort
                    if (filtersArr.sort) {
                        if (filtersArr.sort == 'data_terbaru' || filtersArr.sort == 'data_terlama') {
                            if (filtersArr.sort == 'data_terbaru') {
                                locations = locations.sort((a,b) => {
                                    if (a.latest_sampling == undefined) {
                                        return 1
                                    }
                                    if (b.latest_sampling == undefined) {
                                        return -1
                                    }

                                    return a.latest_sampling > b.latest_sampling ? -1 :
                                        (a.latest_sampling < b.latest_sampling ? 1 : 0)
                                })
                            } else {
                                locations = locations.sort((a,b) => {
                                    if (a.latest_sampling == undefined) {
                                        return 1
                                    }
                                    if (b.latest_sampling == undefined) {
                                        return -1
                                    }
                                    
                                    return a.latest_sampling > b.latest_sampling ? 1 :
                                        (a.latest_sampling < b.latest_sampling ? -1 : 0)
                                })
                            }
                        } else if (filtersArr.sort == 'jml_banyak' || filtersArr.sort == 'jml_sedikit') {
                            if (filtersArr.sort == 'jml_banyak') {
                                locations = locations.sort((a,b) => {
                                    a.total_data_diterima = parseInt(a.total_data_diterima)
                                    b.total_data_diterima = parseInt(b.total_data_diterima)

                                    if (isNaN(a.total_data_diterima)) { a.total_data_diterima = 0 }
                                    if (isNaN(b.total_data_diterima)) { b.total_data_diterima = 0 }
                                    
                                    return a.total_data_diterima > b.total_data_diterima ? -1 :
                                        (a.total_data_diterima < b.total_data_diterima ? 1 : 0)
                                })
                            } else {
                                locations = locations.sort((a,b) => {
                                    a.total_data_diterima = parseInt(a.total_data_diterima)
                                    b.total_data_diterima = parseInt(b.total_data_diterima)

                                    if (isNaN(a.total_data_diterima)) { a.total_data_diterima = 0 }
                                    if (isNaN(b.total_data_diterima)) { b.total_data_diterima = 0 }

                                    return a.total_data_diterima > b.total_data_diterima ? 1 :
                                        (a.total_data_diterima < b.total_data_diterima ? -1 : 0)
                                })
                            }
                        }
                    }

                    return locations
                }
            },
            methods: {
                showFilterModal: function (category) {
                    let items = [];
                    switch (category) {
                        case 'wilayah':
                            items = [
                                {
                                    value: null,
                                    name: 'Semua'
                                },
                                {
                                    value: 'hulu',
                                    name: 'Hulu'
                                },
                                {
                                    value: 'tengah',
                                    name: 'Tengah'
                                },
                                {
                                    value: 'hilir',
                                    name: 'Hilir'
                                }
                            ];
                            break;

                        case 'tipe':
                            items = [
                                {
                                    value: null,
                                    name: 'Semua'
                                },
                                {
                                    value: 'pch',
                                    name: 'Pos Curah Hujan'
                                },
                                {
                                    value: 'pda',
                                    name: 'Pos Duga Air'
                                },
                                {
                                    value: 'klimat',
                                    name: 'Klimat'
                                }
                            ];
                            break;

                        case 'sort':
                            items = [
                                {
                                    value: 'data_terbaru',
                                    name: 'Usia data terbaru'
                                },
                                {
                                    value: 'data_terlama',
                                    name: 'Usia data terlama'
                                },
                                {
                                    value: 'jml_banyak',
                                    name: 'Jumlah data <i class="fas fa-sort-numeric-down-alt"></i>'
                                },
                                {
                                    value: 'jml_sedikit',
                                    name: 'Jumlah data <i class="fas fa-sort-numeric-down"></i>'
                                }
                            ];
                            break;
                    
                        default:
                            break;
                    }
                    this.filterModal.category = category;
                    this.filterModal.items = items;
                    $('#filter-modal').modal('show');
                },
                itemFilter: function (value) {
                    if (value === null) {
                        this.removeFilter(this.filterModal.category)
                    } else {
                        this.addFilter(this.filterModal.category, value)
                    }
                    $('#filter-modal').modal('hide');
                },
                addFilter: function (key, value) {
                    var filters = this.filters.split(' ')
                    var filtersArr = {}
                    for (var filter of filters) {
                        var f = filter.split(':')
                        filtersArr[f[0]] = f[1] ? f[1] : ''
                    }

                    filtersArr[key] = value
                    filters = []
                    for (var key in filtersArr) {
                        var value = filtersArr[key].toLowerCase()
                        if (value) {
                            filters.push(`${key}:${value}`)
                        } else {
                            filters.push(`${key}`)
                        }
                    }
                    this.filters = filters.join(' ')
                },
                removeFilter: function (key) {
                    var filters = this.filters.split(' ')
                    var filtersArr = {}
                    for (var filter of filters) {
                        var f = filter.split(':')
                        filtersArr[f[0]] = f[1] ? f[1] : ''
                    }

                    delete filtersArr[key]
                    filters = []
                    for (var key in filtersArr) {
                        var value = filtersArr[key].toLowerCase()
                        if (value) {
                            filters.push(`${key}:${value}`)
                        } else {
                            filters.push(`${key}`)
                        }
                    }
                    this.filters = filters.join(' ')
                }
            }
        });
    </script>
{% endblock %}
